.container {
  margin: auto;
  max-width: 296px;
  display: flex;
  background: transparent;
}
@media only screen and (min-width: 480px) {
  .container {
    width: 90%;
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 592px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 946px;
  }
}
@media only screen and (min-width: 1360px) {
  .container {
    max-width: 1184px;
  }
}
